<div class="section" id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="header">Sponsors</h1>
        <p>
          The 2016 Wasatch International Food Festival is actively seeking sponsors.
          Align yourself with a great non-profit and reach your target market
          while having fun.
        </p>
        <p>
          Benefits of sponsorship:
        </p>
        <ul>
          <li>
            Product and specialty food demos on our kitchen stage
          </li>
          <li>
            Reward employees and clients with VIP Tickets and tasting events
          </li>
          <li>
            Expose your brand with signage & co-branded advertising
          </li>
          <li>
            Oppurtunity to offer product demonstrations at the Demo Stage
          </li>
          <li>
            Recognition at <%= link_to "www.culturalcelebration.org", "www.culturalcelebration.org" %>
          </li>
          <li>
            Supporting the local community through a nonprofit organization
          </li>
        </ul>
        <p>
          <%= link_to "Click here for sponsorship information", "https://github.com/ryancobb/wiff-build/raw/gh-pages/applications/WIFF%20Sponsorship%20Deck%202016.pdf" %>
        </p>
        <p>
          For more information or to become a sponsor please contact
        </p>
        <ul class="contact">
          <li class="bold">
            Julie Delong
          </li>
          <li>
            801-965-5124
          </li>
          <li>
            Julie.delong@wvc-ut.gob
          </li>
        </ul>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/harmons.png", class: "img-responsive sponsor" %>
      </div>
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/iheartmedia.png", class: "img-responsive sponsor" %>
      </div>
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/UDAM.jpg", class: "img-responsive sponsor" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/westvalley.jpg", class: "img-responsive sponsor" %>
      </div>
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/ZAP.jpg", class: "img-responsive sponsor" %>
      </div>
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/clearchannel.jpg", class: "img-responsive sponsor" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <%= image_tag "/images/sponsors/UCCC.png", class: "img-responsive sponsor" %>
      </div>
    </div>
  </div>
</div>
