<div class="section" id="tickets">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "/images/ticket.svg", class: "section-icon hidden-xs" %>
      </div>
      <div class="col-md-9">
        <h1 class="header">Tickets</h1>
          <p>
            Individual and VIP tickets can be purchased online at TBA.
          </p>
          <p>
            Tickets can also be purchased in person at the Utah Cultural Celebration
            Center and at the gates the day of the festival.
          </p>
          <blockquote>
            <p>
              <%= link_to 'Friday General Admission - $5', 'http://www.ticketingcentral.com/V2/Home.aspx?I=ZhmDAAAAAAA17KkLAgAAAAB7%2fv%2f%2f%2fwD%2f%2f%2f%2f%2fAAD%2f%2f%2f%2f%2f%2f%2f%2f%2f%2fw%3d%3d' %>
            </p>
            <p>
              <%= link_to 'Saturday General Admission - $5', 'http://www.ticketingcentral.com/V2/Home.aspx?I=ZhmDAAAAAACpJKoLAgAAAACL%2fv%2f%2f%2fwD%2f%2f%2f%2f%2fAAD%2f%2f%2f%2f%2f%2f%2f%2f%2f%2fw%3d%3d' %>
            </p>
            <p>
              <%= link_to 'Two Day General Admission - $8', 'http://www.ticketingcentral.com/V2/Home.aspx?I=ZhmDAAAAAAByOKoLAgAAAACI%2fv%2f%2f%2fwD%2f%2f%2f%2f%2fAAD%2f%2f%2f%2f%2f%2f%2f%2f%2f%2fw%3d%3d' %>
            </p>
            <p>
              <%= link_to 'Two Day VIP Admission - $25', 'http://www.ticketingcentral.com/V2/Home.aspx?I=ZhmDAAAAAADwaKoLAgAAAADu%2fv%2f%2f%2fwD%2f%2f%2f%2f%2fAAD%2f%2f%2f%2f%2f%2f%2f%2f%2f%2fw%3d%3d' %>
            </p>
          </blockquote>
          <p>
            Kids 12 and under get in free (with the exception of the VIP Lounge)
          </p>
      </div>
    </div>
  </div>
</div>
