<div class="section" id="vendors">
  <div class="container">

      <div class="row">
        <div class="col-md-3 hidden-xs">
          <%= image_tag "/images/store.svg", class: "section-icon" %>
        </div>
        <div class="col-md-9">
          <h1 class="header">Vendors</h1>
          <p>
            Interested in serving incredible international food at the 2016 Wasatch International Food Festival?
          </p>
          <p>
            Applications for food and market vendors are now open!
          </p>
          <p>
            Applications and associated fees are due by 11:59 P.M. June 1, 2016
          </p>
          <blockquote>
            <ul class="vendor-apps">
              <li>
                <%= link_to "Market Vendor Application", "https://github.com/ryancobb/wiff-build/raw/gh-pages/applications/Craft%20Vendor%20Application.pdf"%>
              </li>
              <li>
                <%= link_to "Food Vendor Application", "https://github.com/ryancobb/wiff-build/raw/gh-pages/applications/Market%20Vendor%20Application.pdf"%>
              </li>
              <li>
                <%= link_to "Terms of Agreement", "https://github.com/ryancobb/wiff-build/raw/gh-pages/applications/Terms%20and%20Conditions%20for%20Vendors.pdf" %>
              </li>
              <li>
                <%= link_to "Temporary Business License", "https://github.com/ryancobb/wiff-build/raw/gh-pages/applications/Temporary%20Food%20License.pdf" %>
              </li>
            </ul>
        </blockquote>
        </div>
      </div>
  </div>
</div>
