<div class="section" id="vendors">
  <div class="container">

      <div class="row">
        <div class="col-md-3 hidden-xs">
          <%= image_tag "/images/store.svg", class: "section-icon" %>
        </div>
        <div class="col-md-9">
          <h1 class="header">Vendors</h1>
          <p>
            Interested in serving incredible international food at the 2016 Wasatch International Food Festival?
          </p>
          <p>
            Applications for food and market vendors are now open!
          </p>
          <p>
            Applications and associated fees are due by 11:59 P.M. June 1, 2016
          </p>
          <p>
            *Please note that only local vendors will be considered
          </p>
          <ul class="vendor-apps">
            <li>
              <%= link_to "Craft Vendor Application", "/applications/Craft Vendor Application.pdf"%>
            </li>
            <li>
              <%= link_to "Food Market Application", "/applications/Food Vendor Application.pdf"%>
            </li>
            <li>
              <%= link_to "Terms of Agreement", "/applications/Terms and Conditions for Vendors.pdf" %>
            </li>
            <li>
              <%= link_to "Temporary Business License", "/applications/Temporary Food License.pdf" %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
