---
title: Welcome
---

<div class="jumbotron">
  <div class="container">
    <div class="row text-center welcome-content">
      <div class="col-sm-12">
          <%= image_tag "/images/wiffposter.png", class: "img-rounded img-responsive" %>
      </div>
    </div>
      <nav id="navspy">
        <ul class="nav nav-pills nav-justified" data-spy="affix" data-offset-top="935">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#tickets">Tickets</a>
          </li>
          <li>
            <a href="#vendors">Vendors</a>
          </li>
          <li>
            <a href="#map">Map</a>
          </li>
          <li>
            <a href="#sponsors">Sponsors</a>
          </li>
          <li>
            <a href="#volunteers">Volunteers</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<%= partial "layouts/about" %>
<%= partial "layouts/tickets" %>
<%= partial "layouts/vendors" %>
<%= partial "layouts/map" %>
<%= partial "layouts/sponsors" %>
<%= partial "layouts/getinvolved" %>
<%= partial "layouts/contact" %>
